 body {
     background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
     font-family: "Roboto", sans-serif;
     width: 350px;
     height: 600px;
 }

 html::-webkit-scrollbar {
     display: none;
 }

 .dropzone {
     width: 98%;
     margin: 1%;
     border: 2px dashed #3498db !important;
     border-radius: 5px;
     transition: 0.2s;
 }

 .dropzone.dz-drag-hover {
     border: 2px solid #3498db !important;
 }

 .dz-message.needsclick img {
     width: 50px;
     display: block;
     margin: auto;
     opacity: 0.6;
     margin-bottom: 15px;
 }

 span.plus {
     display: none;
 }

 .dropzone.dz-started .dz-message {
     display: inline-block !important;
     width: 120px;
     float: right;
     border: 1px solid rgba(238, 238, 238, 0.36);
     border-radius: 30px;
     height: 120px;
     margin: 16px;
     transition: 0.2s;
 }

 .dropzone.dz-started .dz-message span.text {
     display: none;
 }

 .dropzone.dz-started .dz-message span.plus {
     display: block;
     font-size: 70px;
     color: #AAA;
     line-height: 110px;
 }

 h1 {
     color: #fff;
     font-size: 30px;
 }

 fieldset {
     border: medium none !important;
     margin: 0 0 10px;
     min-width: 100%;
     padding: 0;
     width: 100%;
     display: flex;
     gap: 12px;
 }


 .heading {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;

 }

 .selectNum {
     width: 200px;
 }

 .btn {
     box-sizing: border-box;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     background-color: transparent;
     border: 2px solid #e74c3c;
     border-radius: 0.6em;
     color: #e74c3c;
     cursor: pointer;
     display: flex;
     align-self: center;
     font-size: 0.8rem;
     font-weight: 400;
     line-height: 1;
     padding: 0.6em 0.3em;
     text-decoration: none;
     text-align: center;
     text-transform: uppercase;
     font-family: "Montserrat", sans-serif;
     font-weight: 700;
 }

 .btn:hover,
 .btn:focus {
     color: #fff;
     outline: 0;
 }

 .third {
     border-color: #3498db;
     color: #fff;
     box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
     transition: all 150ms ease-in-out;
 }

 .third:hover {
     box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
 }

 .btn-wrap {
     display: flex;
     gap: 12px;
     align-items: center;
     justify-content: center;
 }

 .wrapper {
     display: flex;
     flex-direction: column;
     grid-gap: 30px;
 }